<div class="col-xs-12 col-sm-4 wrapper-1">
    <h1>Create a Gobble!</h1>
    <%= form_tag '/posts', method: :post do %>

        <div class="form-group">
            <%= text_field_tag :text, nil, placeholder: "Gobble Gobble", size: '24x6'%>
        </div>
        <%= hidden_field_tag :user_id %>

        <%= submit_tag 'Create Gobble' %>
    <% end %>
</div>

<div class="col-xs-12 col-sm-8 wrapper-1">
<h1><%= @user.user_name %>'s Gobbles</h1>
    <% if @user_posts.length != 0 %>
        <% @user_posts.each do |post| %>
        <div class="well">
            <b><%= post.user.user_name %></b>
            <br>
            <%= post.text %>
            <div><h6><%= post.created_at.strftime('%b %e, %l:%M %p') %></h6></div>
            <% if post.user == current_user %>
                <div>
                <%= link_to 'Edit', "/posts/#{post.id}/edit" %>
                <%= link_to 'Delete', "/posts/#{post.id}/", method: :delete %>
                </div>
            <% end %>
        </div>
            <br>
        <% end %>
    <% end %>
</div>