

<div class="col-xs-12 col-sm-4 wrapper-1">
    <h1>Create a Gobble!</h1>
    <%= form_tag '/posts', method: :post do %>

        <div class="form-group">
            <%= text_field_tag :text, 'Gobble Gobble', size: '24x6'%>
        </div>
        <%= hidden_field_tag :user_id %>

        <%= submit_tag 'Create Gobble' %>
    <% end %>
</div>

<div class="col-xs-12 col-sm-8 wrapper-1">
    <% if @posts.length != 0 %>
        <% @posts.each do |post| %>
        <div class="well">
            <%= post.user.user_name %>
            <br>
            <%= post.text %>
            <% if post.user == current_user %>
                <br>
                <%= link_to 'Edit Gobble', "/posts/#{post.id}/edit" %>
            <% end %>
        </div>
            <br>
        <% end %>
    <% end %>
</div>